@if (isMobile()) {
  <div class="site-header">
    <img class="Logo-White" src="/icons/join-logo.svg" alt="logo" />
    <div class="circle-section">
      <button class="btn primary login-btn" (click)="navigateToLogin()">Login</button>
      <div class="circle-help">
        <span>?</span>
      </div>
      <div class="circle-user">
        <a href="#">sr</a>
      </div>
    </div>
  </div>

} @else {
  <div class="site-header">
    <h1 class="text-header">Kanban Projekt Management Tool</h1>
    <div class="circle-section">
      <button class="btn primary login-btn" (click)="navigateToLogin()">Login</button>
      <div class="circle-help">
        <span>?</span>
      </div>
      <div class="circle-user">
        <a href="#">sr</a>
      </div>
    </div>
  </div>
}

@if (loginService.showLogin$ | async) {
  <app-login></app-login>
}
